

h2 {
  color: firebrick;      
}

.Pros {
  color: darkgoldenrod;
}

h4 {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.Cons {

}

p {
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li, ol {
  font-size: 112%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

